Package: com.randy420.aptfix
Name: aptFix
Depends: mobilesubstrate, com.randy420.tools (>=2.1)
Architecture: iphoneos-arm
Description: Sometimes, your package manager will kick back an error like "DPKG Locked" or 'apt locked' these errors aren't actually caused by Cydia or other package managers, rather caused by those subprocesses (apt, dpkg, cydo, etc). 
  
 Clear these errors with one simple terminal command. 
 Run'aptFix' in terminal or press the conveniently placed button in the preference bundle!
Depiction: https://Randy-420.GitHub.io/depic/aptFix.html
Replaces: com.randy420.fixcydia
Maintainer: Randy420
Author: Randy420
Section: Utilities
Version: 0.0.6
